<?xml version = "1.0"?>
<GameData>
  <!-- screenTitle is also used to identify you and your animation. 
     So make sure to include your name as part of the screenTitle -->
  <title>Liar's Dice</title>
  <maxStringSize>50</maxStringSize>

  <frameCapOn>true</frameCapOn>
  <period>17</period>

  <maxFrames>300</maxFrames>
  <username>lukash</username>

  <view>
    <width>1024</width>
    <height>768</height>
    <loc x="0" y="0"/>
  </view>

  <world>
    <width>1024</width>
    <height>768</height>
  </world>

  <font name="font">
    <file>assets/font/black-pearl.ttf</file>
  </font>

  <!-- new config -->
  <net>
    <dev>
      <wasm>127.0.0.1:8080</wasm>
      <native>localhost:8081</native>
    </dev>
    <prod>
      <wasm>23.120.83.79:8080</wasm>
      <native>23.120.83.79:8081</native>
    </prod>
  </net>

  <screens>
    <intro>
      <background>
        <file>assets/img/intro.png</file>
        <transparency>false</transparency>
      </background>
    </intro>

    <create>
      <background>
        <file>assets/img/create.png</file>
        <transparency>false</transparency>
      </background>
    </create>

    <lobby>
      <background>
        <file>assets/img/lobby/background.png</file>
        <transparency>false</transparency>
      </background>
      <enterable>
        <file>assets/img/enterable.png</file>
        <transparency>false</transparency>
      </enterable>
      <modal>
        <file>assets/img/lobby.png</file>
        <transparency>true</transparency>
      </modal>
    </lobby>

    <game>
      <background>
        <file>assets/img/game.png</file>
        <transparency>false</transparency>
      </background>

      <dice>
        <file>assets/img/dice.png</file>
        <transparency>true</transparency>
        <frames>6</frames>
        <interval>0</interval>
        <loop>-1</loop>
      </dice>

      <brown-dice>
        <file>assets/img/brown_dice.png</file>
        <transparency>true</transparency>
        <frames>6</frames>
        <interval>0</interval>
      </brown-dice>

      <highlighted-dice>
        <file>assets/img/highlighted-dice.png</file>
        <transparency>true</transparency>
        <frames>6</frames>
        <interval>0</interval>
      </highlighted-dice>

      <hidden-dice>
        <file>assets/img/hidden-dice.png</file>
        <transparency>true</transparency>
      </hidden-dice>

      <invisible-dice>
        <file>assets/img/invisible-dice.png</file>
        <transparency>true</transparency>
      </invisible-dice>
    </game>

    <help>
      <background>
        <file>assets/img/help.png</file>
        <transparency>false</transparency>
      </background>
    </help>

    <rules>
      <background>
        <file>assets/img/rules.png</file>
        <transparency>false</transparency>
      </background>
    </rules>

    <player-info>
      <background>
        <file>assets/img/player-info.png</file>
        <transparency>false</transparency>
      </background>
    </player-info>
  </screens>

  <widget>
    <loading>
      <file>assets/img/loading.png</file>
      <transparency>true</transparency>
      <frames>24</frames>
      <interval>500</interval>
      <loop>-1</loop>
    </loading>

    <token>
      <file>assets/img/token.png</file>
      <transparency>true</transparency>
    </token>

    <modal>
      <file>assets/img/modal.png</file>
      <transparency>true</transparency>
    </modal>

    <explosion>
      <file>assets/img/explosion.png</file>
      <transparency>true</transparency>
      <frames>10</frames>
      <interval>80</interval>
      <loop>1</loop>
    </explosion>
  </widget>

  <mixer>
    <music>
      <background>assets/music/background.ogg</background>
    </music>
    <chunk>
      <keystroke>assets/chunk/keystroke.ogg</keystroke>
      <transition>assets/chunk/transition.ogg</transition>
      <enter-bet>assets/chunk/enter-bet.ogg</enter-bet>
      <finish>assets/chunk/finish.ogg</finish>
    </chunk>
  </mixer>
</GameData>