<?xml version = "1.0"?>
<GameData>
<!-- screenTitle is also used to identify you and your animation. 
     So make sure to include your name as part of the screenTitle -->
<title>The Tracker Framework</title>
<maxStringSize>50</maxStringSize>

<frameCapOn>true</frameCapOn>
<period>17</period>

<maxFrames>300</maxFrames>
<username>lukash</username>

<view>
  <width>1024</width>
  <height>768</height>
  <loc x="0" y="0"/>
</view>

<world>
  <width>1024</width>
  <height>768</height>
</world>

<intro>
  <file>assets/img/intro.png</file>
  <transparency>false</transparency>
</intro>

<font name="font">
  <file>assets/font/black-pearl.ttf</file>
</font>

<spin-star>
  <file>assets/img/spinstar.png</file>
  <transparency>true</transparency>
  <start-location x="500" y="500"/>
  <speed x="300" y="300"/>
  <frames>4</frames>
  <frame-interval>300</frame-interval>
</spin-star>

</GameData>